container-file=/home/pkbin/pkfs.wallet	            # REQUIRED. Path to wallet container
container-password=pk8920671 	    # REQUIRED. Password
#data-dir=/srv/ultranote	    # Where blockchain data is stored. Defaults to /home/user/.UltraNote
bind-address=0.0.0.0	    # Use server IP or 127.0.0.1
bind-port=8070		    # Port
#rpc-user=                   # Auth user for RPC service
#rpc-password=               # Password for RPC service
#server-root=/srv/ultranote  # Working directory
#log-level=                  # Log level 0-4
#local=1                     # Use In-process node
daemon-address=localhost    # remote daemon address, don't use it with in-process mode
daemon-port=53281           # 