{% extends "base.html" %}
{% block content %}

<div class="container api_documentation">
    <div class="row" style="margin-bottom:4px;">
        <div class="col-lg-8">
            <h3>API documentation</h3>
            <p>
                Requests are made using standard HTTP and responses are returned in JSON format.
            </p>
            <p>
                <ul>
                    <li><a href="#api_convert_pk_usd">/api/1/convert/pk-usd</a></li>
                    <li><a href="#api_proposals">/api/1/proposals</a></li>
                </ul>
            </p>
            <br>

            <div class="api_container" id="api_convert_pk_usd">
                <h5><small>GET</small> <code>/api/1/convert/pk-usd</code></h5>
                <hr>
                <p>
                    PK to USD conversion. Data is pulled from CoinGecko.com and CoinMarketCap.com
                </p>

                <b>Example:</b>
                <pre>curl -vvX GET 'http://funding.pennykoin.com/api/1/convert/pk-usd?amount=1000000'</pre>

                <b>Response:</b>
                <pre>{"usd": 224.02}</pre>
            </div>

            <div class="api_container" id="api_proposals">
                <h5><small>GET</small> <code>/api/1/proposals</code></h5>
                <hr>
                <p>
                    Proposal listing.
                </p>

                <b>Parameters:</b>
                <ul>
                    <li><code>status</code>: the proposal status, from 0 to 5. Default is 1.</li>
                    <li><code>limit</code>: limit results. Default is 20.</li>
                    <li><code>offset</code>: offset results. Default is 0.</li>
                </ul>

                <b>Example:</b>
                <pre>curl -vvX GET 'http://funding.pennykoin.com/api/1/proposals?offset=0&limit=1&status=2'</pre>

                <b>Response:</b>
                <pre>{
                  {
                    "data": [
                      {
                        "addr_donation": "PkR6NSWaf3D94VCjK11Dhq94VCjK11Dhq94VCjK11Dhq94VCjK11Dhq94VCjK11Dhq94VCjK11Dhq94VCjK11Dhq94Y5xV2KfMajTFxJ3tSfRUKEDD8q9tBT7BAzm9kGxTrcMhPJ9WnC1zEiJELmrQiHgyBjntHPUfYhD4kGiXeTZbB919otfdNYq",
                        "category": "misc",
                        "content_markdown": "#### Why?\n\nWhat problem(s) are you trying to solve?\n\n#### How much?\n\nWhat is the total cost in pk? List expenses per item. Total hours of work and per hour rate. What exchange rates are you using?\n\n#### What?\n\nDescribe your idea in detail.\n\n#### Milestones?\n\nBreak down tasks into different stages. Each stage should have the estimated number of days/weeks needed and cost per stage.\n\n#### Outcomes?\n\nWhat will be delivered? What goals will be reached?\n\n#### Why you?\n\nWhat skills and experience do you have?",
                        "date_posted": "Nov 21 2018 21:51:18",
                        "date_posted_epoch": "1542855078",
                        "funded_pct": 0.0,
                        "funds_target": 1000000.0,
                        "headline": "test test test",
                        "id": 1,
                        "status": 2,
                        "user": "lifcey"
                      }
                    ]
                  }
}</pre>
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>


</div>
<!-- /.container -->
{% endblock %}
